<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
  
</head>
<body>
  <nav style="display: flex;flex-direction: row;justify-content: space-around;">
    <a href="/">Home</a>
    <a href="{{url_for('lenguaje')}}">Lenguaje</a>
    <a href="{{url_for('contacto')}}">Contacto</a>
  </nav>
  
  <div class="container">
    {% block body %}

    {% endblock %}
  </div>
  </body>
</body>
</html>